<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.jst.dao.AnswerMapper">
<sql id="TABLE_NAME">answer</sql>
<resultMap type="questions" id = "questionsMap" >
   <id property = "id" column="id"/>
   <result property="answerCount" column="answerCount"/>
   <result property="datailDesc" column="datailDesc"/>
   <result property="lasModifed" column="lasModifed"/>
   <result property="title" column="title"/>
</resultMap>
 <resultMap type="answer" id="ansMap">
   <id property = "id" column="id"/>
   <result property="answerContent" column="answerContent"/>
   <result property="ansDate" column="ansDate"/>
   <association property="que" column="qid" javaType="questions" resultMap="questionsMap"></association>
 </resultMap>
<select id="queryList" resultMap="ansMap">
  select * from <include refid="TABLE_NAME"/> an
  LEFT JOIN questions que
  on an.qid = que.id
</select>
</mapper>
